<div class="container">
  <div id="method-select">
    <form>
      <div class="radio-group">
        <% @method_list.each do |m| %>
          <input type="radio" id="method-<%= m %>" name="selector">
          <label class="method-selector" for="method-<%= m %>">
            <%= m %>
          </label>
          <% end %>
      </div>
    </form>
  </div>

  <div id="scramble">
    <p id="scramble-display"></p>
  </div>
  <%# <div id="ruleline"><hr></div> %>
  <div id="step-select">
    <% ["backward", "forward", "refresh", "rot_x", "rot_y", "rot_z"].each do |btn| %>
    <button id="<%= btn %>">
      <%= image_tag "#{btn}_light.png", class: "light" %>
      <%= image_tag "#{btn}_dark.png", class: "dark" %> 
    </button>
    <% end %>
  </div>
  <div id="cube-display"><canvas id="cube-display-canvas"></canvas></div>
  <div id="solutions"></div>
</div>