// $bg: #1f1c3d;
// $fg: lighten($bg,20%);
// x + y: all y elements that are placed immediately after x elements
// x > y: all y elements whose partent is an x element
$bg: #000000;
$fg: lighten($bg, 10%);
$bgGrey: #a0a0a0;
$borderWidth: 3px;
$background: lighten($bg, 90%);

body {
  font-family: Helvetica;
  background-color: $background;
  color: lighten($bg,10%);
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  text-align: center;
}

input[type=radio]:checked + label{
  color: $background;
  background: $fg;
}

label + input[type=radio] + label {
  border-left: solid $borderWidth $fg;
}

.radio-group {
  border: solid $borderWidth $fg;
  display: grid;
  grid-auto-flow: column;
  margin: 20px;
  border-radius: 3px;
  overflow: hidden;
}

//layout

.container {
  max-width: 1000px;
  max-height: 800px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 8fr 8fr 2fr;
  display: grid;
  grid-template-areas: 
    "methodselect methodselect methodselect"
    "scramble     scramble     scramble"
    "cubedisplay  cubedisplay  solutions"
    "cubedisplay  cubedisplay  solutions"
    "stepselect   stepselect   solutions";
}

// #ruleline {
//   grid-area: ruleline;
// }

#method-select {
  grid-area: methodselect;
}

#step-select {
  grid-area: stepselect;
}

#step-select button {
  width: 15%;
  height: 100%;
  padding: 0;
}

#step-select button img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

#cube-display {
  grid-area: cubedisplay;
}

#solutions {
  grid-area: solutions;
  overflow-y: scroll;
  border-left: 1px solid black;
}

.solution-overlay {
  height: 100%;
  text-align: center;
  background-color: $bgGrey;
  display: grid;
  grid-template-rows: 6fr 1fr 6fr;
  grid-template-areas: 
    "."
    "overlay-content"
    ".";
}

.solution-overlay-content {
  grid-area: overlay-content;
  margin: 0;
}

.solution-overlay:hover {
  cursor: pointer;
}

.solution-container {
  // border: 1px solid black;
  margin-left: 5%;
  margin-bottom: 5%;
  min-height: 10%;
  cursor: pointer;
  // text-align: center;
}

#solutions div div {
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
}

#solutions div div:hover {
  background-color: $bgGrey;
}

#scramble {
  grid-area: scramble;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "."
    "scrambletext"
    ".";
  font-size: 18pt;
  text-transform: uppercase;
}

#scramble p {
  grid-area: scrambletext;
  text-align: center;
  margin: 0;
}

img.dark {
  display: none;
}

img {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  background-color: $background;
  border-style: solid;
  padding: 0;
}

button:hover img.light {
  display: none;
}

button:hover img.dark {
  display: block;
}
